Size(2229190656)
Device("/dev/sdb")
Device("/dev/sda")
Set("/dev/sda",589824)
Set("/dev/sdb",589824)
Set("/dev/sdb",384434176)
Set("/dev/sda",1669005312)
Set("/dev/sdb",2228748288)
Set("/dev/sda",0)
Message("/dev/sda","S")
Set("/dev/sdb",0)
Message("/dev/sdb","S")
Set("/dev/sda",0)
Message("/dev/sda","V")
Set("/dev/sdb",0)
Message("/dev/sdb","V")
Finished("/dev/sda")
Finished("/dev/sdb")
