[Desktop Entry]
Type=Application
Name=Popsicle USB Flasher
GenericName=USB Flasher
X-GNOME-FullName=Popsicle USB Flasher
Comment=Multi-USB image flashing utility
Icon=com.system76.Popsicle
Categories=System;
Keywords="USB;Flash;Drive;Popsicle;"
MimeType=application/x-cd-image;application/x-raw-disk-image;
Terminal=false
StartupNotify=true
Exec=popsicle-ui %f
