Source: popsicle
Section: utils
Priority: optional
Maintainer: Jeremy Soller <jeremy@system76.com>
Build-Depends:
  debhelper (>=9),
  cargo,
  help2man,
  just,
  libclang-dev,
  libdbus-1-dev
Standards-Version: 4.1.1
Homepage: https://github.com/pop-os/popsicle

Package: popsicle
Architecture: amd64 arm64
Depends:
  ${misc:Depends},
  ${shlib:Depends}
Description: USB Flasher

Package: popsicle-ui
Architecture: amd64 arm64
Depends:
  ${misc:Depends},
  ${shlib:Depends}
Description: COSMIC front end to the USB Flasher
