Source: popsicle
Section: utils
Priority: optional
Maintainer: Jeremy Soller <jeremy@system76.com>
Build-Depends:
  debhelper (>=9),
  cargo,
  help2man,
  libdbus-1-dev,
  libxkbcommon-dev,
  pkg-config
Standards-Version: 4.1.1
Homepage: https://github.com/pop-os/popsicle

Package: popsicle
Architecture: amd64 arm64
Depends:
  ${misc:Depends},
  ${shlibs:Depends}
Replaces: popsicle-gtk
Breaks: popsicle-gtk
Description: USB Flasher
 Flash multiple USB devices in parallel, from the COSMIC front end
 or from the command line.
