#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	make clean
	make vendor

override_dh_update_autotools_config:
	true

override_dh_auto_configure:
	true

override_dh_auto_build:
	make

override_dh_auto_install:
	dh_auto_install -- prefix=/usr
