#!/usr/bin/make -f

export VENDORED ?= 1
CLEAN ?= 1

%:
	dh $@

override_dh_auto_build:
	env CARGO_HOME="$$(pwd)/target/cargo" \
	just

override_dh_auto_clean:
ifeq ($(CLEAN),1)
	just clean
endif
ifeq ($(VENDORED),1)
	if ! ischroot; then \
		just vendor; \
	fi
endif

override_dh_auto_install:
	just rootdir=debian/tmp prefix=/usr install
