[Desktop Entry]
Type=Application
Name=Popsicle
Name[fr_FR]=Popsicle
Name[pt_BR]=Popsicle
GenericName=Popsicle
GenericName[fr_FR]=Popsicle
GenericName[pt_BR]=Popsicle
X-GNOME-FullName=Popsicle
X-GNOME-FullName[fr_FR]=Popsicle
X-GNOME-FullName[pt_BR]=Popsicle
Icon=com.system76.Popsicle
Categories=System;
Keywords="USB;Flash;Drive;Popsicle;"
Keywords[fr_FR]="USB;Flasheur;Lecteur;Popsicle;"
Keywords[pt_BR]="USB;Gravar;Pendrive;Popsicle;"
MimeType=application/x-cd-image;application/x-raw-disk-image;
Terminal=false
StartupNotify=true
Exec=popsicle-gtk %f
