[Desktop Entry]
Type=Application
Name=USB Flasher
GenericName=USB Flasher
X-GNOME-FullName=USB Flasher
Icon=com.system76.Popsicle
Categories=System
Keywords="USB;Flash;Drive;Popsicle;"
MimeType=application/x-cd-image;application/x-raw-disk-image;
Terminal=false
StartupNotify=true
Exec=/usr/local/bin/popsicle-pkexec %U
