[Desktop Entry]
Type=Application
Name=Popsicle USB Flasher
Name[fr_FR]=Flasheur USB Popsicle
Name[pt_BR]=Gravador USB Popsicle
GenericName=USB Flasher
GenericName[fr_FR]=Flasheur USB
GenericName[pt_BR]=Gravador USB
X-GNOME-FullName=Popsicle USB Flasher
X-GNOME-FullName[fr_FR]=Flasheur USB Popsicle
X-GNOME-FullName[pt_BR]=Gravador USB Popsicle
Comment=Multi-USB image flashing utility
Icon=com.system76.Popsicle
Categories=System;
Keywords="USB;Flash;Drive;Popsicle;"
Keywords[fr_FR]="USB;Flasheur;Lecteur;Popsicle;"
Keywords[pt_BR]="USB;Gravar;Pendrive;Popsicle;"
MimeType=application/x-cd-image;application/x-raw-disk-image;
Terminal=false
StartupNotify=true
Exec=popsicle-gtk %f
