[Desktop Entry]
Type=Application
Name=USB Flasher
GenericName=USB Flasher
X-GNOME-FullName=USB Flasher
Icon=usb-creator
Categories=System
Keywords=USB;Flash;Drive;Popsicle;
MimeType=application/x-cd-image;application/x-raw-disk-image;application/x-raw-disk-image-xz-compressed;
Terminal=false
StartupNotify=true
Exec=/usr/bin/popsicle-pkexec %U
